<!-- Navbar Section  -->
<ion-header>
  <div class="navbar__container">
    <div class="navbar__title">
      <p>Store App</p>
    </div>
    <div class="navbar__buttons">
      <ul>
        @for(page of pages;track page){
        <li>
          <a [routerLink]="page.path">{{ page.name }}</a>
        </li>
        }
      </ul>
    </div>
  </div>
</ion-header>
<ion-content>
  @if(isLoading){

  <p>Loading Product data...</p>
  }

  <!-- Show Products  -->
  @if(!isLoading && products.length){
  <div class="products__container">
    <h3>Our Products</h3>
    <div class="products">
      @for(prod of products; track prod){
      <div class="products__card">
        <img [src]="prod.image" alt="" />
        <div class="text_area">
          <p class="title">{{prod.title}}</p>
          <div>
            <p>Price: {{prod.price}}</p>
            <p>Rating: {{prod.rating.rate}}</p>
          </div>
          <div class="btns">
            <button [routerLink]="['/products-details', prod.id]">
              Details
            </button>
            <button (click)="addToCart(prod)">Add To Cart</button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  }
</ion-content>
