.clear__btn {
  margin: 2rem 4rem;
  display: flex;
  justify-content: end;
  button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #b18b5e;
    color: white;
  }
}
