/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';
:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --ion-font-family: "Roboto", sans-serif;
  color-scheme: light;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

// Navbar
.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  background-color: white;
  margin-bottom: 1rem;
  .navbar__title p {
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
  }
  .navbar__buttons ul {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    li {
      list-style: none;

      a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        color: #b18b5e;
        transition: all ease-in-out 2s;
        padding: 0rem 1rem;
      }
    }
  }
}
// Products Card
.products__container {
  margin: 2rem 0rem;
  padding: 2rem;
  h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    .products__card {
      padding: 0.5rem;
      border-radius: 10px;
      background: #f5f1e6;
      img {
        width: 100%;
        height: 200px;
        object-fit: contain;
      }

      .text_area {
        padding: 0.5rem;
        margin-top: 1rem;
        .title {
          font-size: 1.1rem;
          font-weight: bold;
        }
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 1rem 0rem;
          p {
            color: gray;
            font-size: 1rem;
            font-weight: 500;
          }
        }

        .btns {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          button {
            padding: 0.8rem 2rem;
            width: 100%;
            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            background-color: #b18b5e;
            color: white;
          }
        }
      }
    }
  }
}
