// Banner
.banner__container {
  background-color: #f5f4ef;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  min-height: 80vh;
  .banner__text {
    h1 {
      font-size: 4rem;
      font-weight: bold;
      color: black;
    }
    p {
      margin: 2rem 0rem;
      font-weight: 500;
      font-size: 1rem;
    }
    .btn__container {
      display: flex;
      align-items: center;
      gap: 1rem;

      button {
        padding: 0.8rem 1rem;
        font-size: 1rem;
        background-color: #b18b5e;
        color: white;
        text-transform: uppercase;
      }
    }
  }
  .banner__img {
    img {
      width: 100%;
      height: 80%;
    }
  }
}
