<!-- Navbar Section  -->
<ion-header>
  <div class="navbar__container">
    <div class="navbar__title">
      <p>Store App</p>
    </div>
    <div class="navbar__buttons">
      <ul>
        @for(page of pages; track page){
        <li>
          <a [routerLink]="page.path">{{ page.name }}</a>
        </li>
        }
      </ul>
    </div>
  </div>
</ion-header>
<ion-content>
  <!-- Banner Section  -->
  <div class="banner__container">
    <div class="banner__text">
      <h1>
        Elevate <br />
        Your Home <br />
        Aesthetics
      </h1>
      <p>
        Shop the latest products at unbeatable prices! Discover top-quality
        items, exclusive deals, and fast delivery—all in one place. Your
        ultimate online shopping experience starts here!
      </p>
      <div class="btn__container">
        <button routerLink="/products-list">buy now</button>
        <button routerLink="/products-list">view products</button>
      </div>
    </div>
    <div class="banner__img">
      <img src="../../../../assets/banner.png" alt="" />
    </div>
  </div>

  <!-- Our Products Section  -->

  <div class="products__container">
    <h3>Our Products</h3>
    <div class="products">
      @for(product of products; track product){
      <div class="products__card">
        <img [src]="product.image" alt="" />
        <div class="text_area">
          <p class="title">{{product.title}}</p>
          <div>
            <p>Price: {{product.price}}</p>
            <p>Rating: {{product.rating.rate}}</p>
          </div>
          <div class="btns">
            <button [routerLink]="['/products-details', product.id]">
              Details
            </button>
            <button (click)="addToCart(product)">Add To Cart</button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</ion-content>
